.slider-menu {
	position: absolute;
	bottom: 0;
	height: 50%;
	margin-top: 35px;
}

.slider-slide {
  position: relative;
  font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
 
}
.slider-bottom
{
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	text-align: center;
	background: white;
}

.slide-title {
	margin-top: 8px;
	font-weight: bold;
	font-size: 16px;
}

i.icon.icon-2x {
  width: 56px; 
  height: 56px; 
}

div.currency {
	margin: 30px;
	margin-top: 20px;
}

div.currency ul {
	list-style: none;
	padding: 0;
}
div.currency > ul > li {
	font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.6em;
}
div.currency > ul > li > span{
	font-weight: bold;
}
div.currency > ul > li div.micro {
	font-size: 12px;
	line-height: 7px;
	margin-bottom: 10px;
	margin-left: 35px;
}
div.currency > ul > li div.micro::before {
	content: "≈";
}
div.currency > ul > li div.micro span {
	font-weight: bold;
}

div.actions {
	position: absolute;
	top: 64px;
	right: 20px;
}
div.actions table tbody tr td {
	width: 36px;
	height: 36px;
	margin: 1px;
	position: relative;
}

.button.button-submit.disabled {
	border-color: gray;
	background: gray;
}
.history-entry {
	position: relative;
	text-align: left;
	 box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width: 100%;
	height: 50px;
	background-color: rgb(247, 247, 250);
	border-left: 20px solid #bcbcbc;
	border-right: none;
	margin-top: 7px;
}

.history-entry.incoming {
	border-left: 15px solid #76B852;
}

.history-entry.outcoming {
	border-left: 15px solid #EE352A;
}


.history-amount {
	position: absolute;
	top: 30%;
	left: 20px;
}
#history-tab {position: relative;}
#history-entries {
	position: relative;
	top: 0px;
	height: 100%;
}
#history-start {
	position: relative;
	top: 0px;
	 -webkit-transition: top 0.6s; /* Safari */
    transition: top 0.6s;
}

input[type=range].vVertical {
    -webkit-appearance: none;
    background-color: green;
    width: 200px;
    height:10px;
    margin-top: 100px;
      -webkit-transform:rotate(90deg);       
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    z-index: 0;
}
input[type=range].vHorizon {
    -webkit-appearance: none;
    background-color: pink;
    height: 10px;
    width:200px;

}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: red;
    width: 20px;
    height: 20px;
}
.input-qr {
    display: inline;
	position: absolute;
	background: url(../img/qr.svg) no-repeat;
	width: 40px;
	height: 40px;
	top: 4px;
	right: 0;
}

.popup h2, .popup p {
	margin-left: 12px;
}
.popup h2 {
	margin-top: -12px;
}

.close-button{
	background: url(../img/delete30.png);
	position: absolute;
	right: 16px;
	top: 16px;
	width: 38px;
	height: 38px;
}
.trust-box {
	position:relative;
	width: 140px;
	height: 15px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.trust-box hr {
	border:none;
	background-color: black;
	height: 1px;
	position:absolute;
	width:100%;
	top:-2px;
	left:0;
}

.trust-box .trust-linia{
	position: absolute;
	width: 100%;
	height: 5px;
	left:0;
	top:2px;
	background: gray;
}

.trust-val {
	font-size: 13px;
	display:inline-block;
	position: absolute;
	background: white;
	color: black;
	width: 50px;
	top: 10px;
}

.trust-box .trust-val.trust-max {right: -25px;}
.trust-box .trust-val.trust-current {left: -25px;}

.trust-box .trust-linia.green {background: green;}
.trust-box .trust-linia.red {background: red;}

footer.powered {
	color: #aaaaaa;
/* position: absolute; */
/* bottom: 10px; */
text-align: center;
width: 100%;
top: 10px;
position: relative;
/* bottom: 1000px; */
}
footer p img {
	position: relative;
	width: 16px;
	height: 16px;
	top: 2px;
	right: -2px;
}

#knob-here {
	position: relative;
	top: 40px;
}
.send-options .send-option{
	margin-top: 70px;
}
.send-options{
	position: relative;
	text-align: center;
}
.popup-nfc {
	
}

#nfc-wait {
	display: none;
	position: relative;
	margin-top: 35%;
}

#trustline-click {
	z-index:999;
}
#contacts-area, #list-of-trust-lines {
	position: relative;
	top: 0px;
    -webkit-transition: top 0.6s; /* Safari */
    transition: top 0.6s;
}
.knob-container {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
}
.knob-container > div {
	position: relative;
	top: 25px;
}
.navbar.startscreen {
	-webkit-transition: top 0.25s linear 0.5s;
	transition: top 0.25s linear 0.5s;
	top: -44px;
}

.navbar.startscreen.notstartscreen{
	top:0;
}
.page-index {
	background: #f0f0f0;
}
a.register-link{
	position: relative;
	top: 4px;
	margin-top: 4px;
	color: #4cd964;
}
.icon-left {
	margin-right: 20%;
}
.icon-right {
	margin-left: 20%;
}
.menu-right {
	position: absolute;
	right: 0;
	top: 80px;
}
.menu-right i {
	opacity: 0.8;
}
.menu-right i:active {
	opacity:1;
}